* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Courier";

}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
}

#page1 {
    width: 100%;
    height: 95vh;

    background-color: rgb(255, 255, 255);
}

#page1 nav {
    width: 100%;
    height: 10%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
}

nav a {
    color: black;

}

nav a h2 {
    display: none;

}

#pg1-hero {
    width: 100%;
    height: 90%;

    background-color: rgb(40, 108, 255);
    /* padding-top: 1px; */
}


#title {
    width: 100%;
    height: 30%;
    /* background-color: black; */
    color: rgb(255, 255, 255);
    /* margin-top: 10%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#pg1-card {
    width: 100%;
    height: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}


#search-box {
    width: 600px;
    height: 450px;
    /* background-color: #e1e1e1; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6vh;
    padding: 2vw;
}


#search-box #input-1 {
    width: 100%;
    height: 15%;
    border: none;
    outline: none;
    padding: 1vw;
    font-size: 1vw;
    border-radius: 2vw;
    -webkit-box-shadow: -8px 17px 52px -14px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: -8px 17px 52px -14px rgba(0, 0, 0, 0.74);
    box-shadow: -8px 17px 52px -14px rgba(0, 0, 0, 0.74);
}

#search-box #input-2 {
    width: 100%;
    height: 50%;
    padding: 1vw;
    border: none;
    outline: none;
    font-size: 1vw;
    border-radius: 2vw;
    -webkit-box-shadow: 20px 31px 52px -22px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: 20px 31px 52px -22px rgba(0, 0, 0, 0.65);
    box-shadow: 20px 31px 52px -22px rgba(0, 0, 0, 0.65);

}

#search-box button {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #000000;
    color: #fff;
    font-size: 1vw;
    border-radius: 2vw;


}

form {
    width: 100%;
    height: 100%;
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6vh;
}

#page2 {
    width: 100%;
    height: 100%;
    /* background-color: rgb(135, 135, 223); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw;
}


#blog {
    width: 80%;
    height: 100%;
    /* display: flex;
    display: flex;
    align-items: center;
    justify-content: center; */
    flex-wrap: wrap;
    margin-left: 26vw;
    /* background-color: #000000; */

    gap: 2.5vw;
    /* padding: 2vw; */
    /* overflow-y: scroll; */

}

.blog-info {
    width: 80%;
    height: 15%;
    background-color: #ececec;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* color: white; */
    margin-top: 3vh;
    flex-wrap: wrap;
    padding: 2vh;
    border-radius: 15px;
    gap: 2vh;

    word-wrap: break-word;
    /* Allow long text to break into next line */
    overflow: hidden;
    white-space: normal;
}

.blog {
    width: 90%;
    height: 100%;
}

.blog .name {
    width: 100%;
    height: 50%;
    margin-bottom: 0.5vh;
    /* background-color: aqua; */
}

.blog .story {
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
    /* overflow-x: scroll; */

}




button i {
    font-size: 1.2vw;
}

button {
    outline: none;
    border: none;
}

.delete-add {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2vh;
    /* background-color: #000000; */
}

.delete-add button i {
    font-size: 1vw;
}


/* For mobile devices (up to 600px) */
@media only screen and (max-width:425px) {

    #page1 {
        width: 100%;
        height: 95vh;

        background-color: rgb(255, 255, 255);
    }

    #page1 nav {
        width: 100%;
        height: 10%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: black;
    }

    nav a {
        color: black;
        font-size: 3vw;
    }

    nav a:nth-child(4) {
        display: none;

    }

    nav a h1 {
        font-size: 3.5vw;

    }

    #pg1-hero {
        width: 100%;
        height: 80%;

        background-color: rgb(40, 108, 255);
        /* padding-top: 1px; */
    }


    #title {
        width: 100%;
        height: 30%;
        /* background-color: black; */
        color: rgb(255, 255, 255);
        /* margin-top: 10%; */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #title h1 {
        font-size: 4vw;
    }

    #pg1-card {
        width: 100%;
        height: 70%;
        /* background-color: black; */
        display: flex;
        align-items: center;
        justify-content: center;
    }


    #search-box {
        width: 600px;
        height: 450px;
        /* background-color: #e1e1e1; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6vh;
        padding: 2vw;
    }


    #search-box #input-1 {
        width: 100%;
        height: 15%;
        border: none;
        outline: none;
        padding: 1vw;
        font-size: 3vw;
        border-radius: 2vw;
        -webkit-box-shadow: -8px 17px 52px -14px rgba(0, 0, 0, 0.74);
        -moz-box-shadow: -8px 17px 52px -14px rgba(0, 0, 0, 0.74);
        box-shadow: -8px 17px 52px -14px rgba(0, 0, 0, 0.74);
    }


    #search-box #input-2 {
        width: 100%;
        height: 50%;
        padding: 1vw;
        border: none;
        outline: none;
        font-size: 3vw;
        border-radius: 2vw;
        -webkit-box-shadow: 20px 31px 52px -22px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 20px 31px 52px -22px rgba(0, 0, 0, 0.65);
        box-shadow: 20px 31px 52px -22px rgba(0, 0, 0, 0.65);

    }

    #input-1::placeholder {
        padding: 2vw;
        font-size: 3vw;
    }

    #input-2::placeholder {
        padding: 2vw;
        font-size: 3vw;
    }

    #search-box button {
        width: 200px;
        height: 50px;
        font-size: 4vw;
        border: none;
        outline: none;
        background-color: #000000;
        color: #fff;

        border-radius: 2vw;
        margin-bottom: 2vh;


    }

    form {
        width: 100%;
        height: 90%;
        /* background-color: #000000; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6vh;
    }

    #page2 {
        width: 100%;
        height: 100%;
        /* background-color: rgb(135, 135, 223); */
        display: flex;
        align-items: center;
        justify-content: center;
        
        padding: 3vw;
    }


    #blog {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        margin-left: 1vw;
        /* background-color: #000000; */

        gap: 2.5vw;

    }

    .blog-info {
        width: 100%;
        height: 15%;
        /* background-color: #ad4040; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* color: white; */
        margin-top: 3vh;
        flex-wrap: wrap;
        padding: 1.5vh;
        border-radius: 10px;
        gap: 2vh;
        word-wrap: break-word;
        overflow: hidden;
        white-space: normal;
    }

    .blog {
        width: 85%;
        height: 100%;
        margin-bottom: 1.5vh;
    }

    .blog .name {
        width: 100%;
        height: 20%;
        margin-bottom: 1.5vh;
        /* background-color: aqua; */
    }

    .blog .story {
        width: 100%;
        height: 50%;
        margin-bottom: 1vh;
        word-wrap: break-word;
        overflow-x: scroll;
        white-space: normal;

    }


    .delete-add button i {
        font-size: 2vw;
    }

    .delete-add {
        width: 10%;
        height: 60%;
    }

    .delete-add form button i {
        font-size: 3vw;
        width: 40px;
        height: 90%;
    }

}

